div.emptyCart {
	text-align: center;
	font-size: 22px;
	margin: 100px 0;
}

div.cartDiv {
    max-width: 1013px;
    margin: 10px auto;
    color: #000;
}

div.cartDiv div.cartProductList table.cartProductTable {
    width: 100%;
}

div.cartDiv div.cartProductList table.cartProductTable thead tr th {
    padding: 20px;
    color: #3c3c3c;
    font-weight: normal;
}

div.cartDiv div.cartProductList table.cartProductTable thead tr th.selectAndImage {
    width: 150px;
}

div.cartDiv div.cartProductList table.cartProductTable thead tr th.operation {
    width: 80px;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr {
    border: 1px solid #ccc;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr td {
    padding: 20px;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
img.cartProductImg {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    padding: 1px;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
div.cartProductLinkOutDiv {
    height: 80px;
    position: relative;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
div.cartProductLinkOutDiv a.cartProductLink {
    color: #3c3c3c;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
div.cartProductLinkOutDiv a.cartProductLink:hover {
    color: #c40000;
    text-decoration: underline;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
div.cartProductLinkOutDiv div.cartProductLinkInnerDiv {
    height: 20px;
    position: absolute;
    bottom: 0;
}
div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
span.cartProductItemOringalPrice {
    color: #9c9c9c;
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
    display: block;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
span.cartProductItemPromotionPrice {
    color: #c40000;
    font-size: 14px;
    font-weight: bold;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
div.cartProductChangeNumberDiv {
    width: 80px;
    border: 1px solid #e5e5e5;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
div.cartProductChangeNumberDiv input.orderItemNumberSetting {
    width: 42px;
    border: 1px solid #aaa;
    outline: none;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
div.cartProductChangeNumberDiv a {
    width: 14px;
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
span.cartProductItemSmallSumPrice {
    font-size: 14px;
    font-weight: bold;
    color: #c40000;
}

div.cartDiv div.cartProductList table.cartProductTable thead tr th.selectAndImage img.selectAllItem,
div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td img.cartProductItemIfSelected {
    cursor: pointer;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
a.deleteOrderItem {
    color: #999;
    text-decoration: none;
}

div.cartDiv div.cartProductList table.cartProductTable tbody tr.cartProductItemTR td
a.deleteOrderItem:hover {
    color: #c40000;
}

/* AccountButton */

div.cartDiv {
    max-width: 1013px;
    margin: 10px auto;
    color: #000;
}

div.cartDiv div.cartTitle span.cartTitlePrice {
    color: #c40000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
}

div.cartDiv div.cartTitle button.createOrderButton {
    width: 53px;
    height: 25px;
    background-color: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    border-radius: 2px;
}

div.cartDiv div.cartFoot {
    background-color: #e5e5e5;
    line-height: 50px;
    margin: 20px 0;
    padding-left: 20px;
}

div.cartDiv div.cartFoot span.cartSumNumber {
    color: #c40000;
    font-size: 16px;
    font-weight: bold;
}

div.cartDiv div.cartFoot span.cartSumPrice {
    color: #c40000;
    font-size: 20px;
    font-weight: bold;
}

div.cartDiv div.cartFoot button.createOrderButton {
    width: 120px;
    height: 50px;
    background-color: #aaa;
    border-width: 0;
    color: #fff;
    font-size: 20px;
}
