div.footer {
    margin: 0;
    display: block;
    border-top: 1px solid #e7e7e7;
}

div.footer div.footer_ensure {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

div.footer_desc {
    border-top: 1px solid #e7e7e7;
    margin: 0 20px;
    padding-top: 30px;
}

div.footer_desc div.descColumn {
    float: left;
    width: 20%;
    padding-left: 15px;
}

div.footer_desc div.descColumn a {
    display: block;
    padding-top: 3px;
    color: #999;
}

div.footer_desc div.descColumn span.descColumnTitle {
    color: #646464;
    font-size: 16px;
    font-weight: bold;
}

div.footer_desc div.descColumn a:hover {
    color: #c40000;
    text-decoration: none;
}

div.footer img#cateye {
    margin-left: 20px;
}

div.footer div.copyright {
    background-color: #000;
    border-top: 2px solid #c40000;
}

div.footer div.copyright div.white_link {
    margin-left: 10px;
    padding: 10px 0;
}

div.footer div.copyright div.white_link a {
    color: #fff;
    padding: 0 5px;
}

div.footer div.copyright div.white_link span.slash {
    color: #fff;
}

div.footer div.copyright div.license {
    margin-left: 10px;
    padding-bottom: 30px;
}

div.footer div.copyright div.license span {
    color: #a4a4a4;
}

div.footer div.copyright div.license div.copyrightYear {
    color: #686868;
    margin: 10px 0;
}
