div.simpleSearchDiv {
    background-color: #c40000;
    height: 40px;
    padding: 1px;
    margin: 10px 20px 40px;
    width: 300px;
    display: block; /* 只有使用块状显示的时候外边距才会生效 */
}

div.simpleSearchDiv input {
    width: 225px;
    height: 34px;
    margin: 2px;
    outline: none;
    border: 1px solid transparent;
    font-size: 14px;
}

div.simpleSearchDiv button {
    width: 60px;
    background-color: #c40000;
    font-size: 14px;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
}

div.simpleSearchDiv input::-webkit-input-placeholder {
    color: #999;
}

div.simpleSearchBelow {
    margin-top: 3px;
    margin-left: -20px;
}

div.simpleSearchBelow span a {
    padding: 0 20px;
    color: #999;
    font-size: 14px;
}

div.simpleSearchBelow span {
    color: #999;
}

div.simpleSearchBelow span a:hover {
    color: #c40000;
    text-decoration: none;
}

div img#simpleLogo {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 140px;
}
