body {
	margin-top: 70px;
}

div.workingArea {
	margin: 0 40px;
}

div.workingArea div.listDataTableDiv {
	min-height: 220px;
}

div.workingArea div.pageDiv {
	text-align: center;
}

div.workingArea div.addDiv {
	width: 400px;
	margin: 0 auto;
}

div.workingArea table.addTable {
	width: 100%;
}

div.workingArea table.addTable td {
	padding: 5px;
}

div.workingArea div.editDiv {
	width: 400px;
	margin: 0 auto;
}

div.workingArea div.editDiv table.editTable {
	width: 100%;
}

div.workingArea div.editDiv table.editTable td {
	padding: 5px;
}

div.workingArea table.addPictureTable td.addPictureTableTD {
	padding: 10px 100px;
	text-align: center;
	vertical-align: top;
}

div.workingArea table.addPictureTable td.addPictureTableTD div.addPictureDiv {
	width: 400px;
}

div.workingArea div.pvAllDiv {
	width: 680px;
	margin: 0 auto;
}

div.workingArea div.pvDiv {
	float: left;
	margin: 5px;
}

div.workingArea div.pvDiv span.pvName {
	display: inline-block;
	width: 100px;
	font-size: 16px;
	color: #555;
	margin-left: 20px;
}

div.workingArea div.pvDiv span.pvValue {
	display: inline-block;
	border: 1px solid rgb(211, 211, 211);
}

div.workingArea div.pvDiv span.pvValue input.pvInput {
	width: 200px;
	border-width: 0;
	outline: none;
}

div.workingArea div.listDataTableDiv table#orderTable tr th {
	text-align: center;
}

div.workingArea div.listDataTableDiv table#orderTable tr.orderPageTR td {
	text-align: center;
}

div.workingArea div.listDataTableDiv div.orderPageOrderItem {
	width: 100%;
	padding: 20px;
}

div.workingArea div.listDataTableDiv table.orderPageOrderItemTable td {
	padding: 5px;
}

div.workingArea div.listDataTableDiv tr.orderPageOrderItemTR {
	display: none;
}

th, td {
	font-size: 14px;
}

div.footerDiv {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 20px 0;
	color: #686868;
}
